body{
	background: #f4f4f4; 
  background: url(../res/images/wall_white.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

/* Navbar */

.navbar{
	min-height: 30px !important;
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-nav > li > a, .navbar-brand{
	padding-top: 6px !important;
	padding-bottom: 0px !important;
	height: 30px;
}

.navbar-default {
  background-color: #3498db;
  border-color: #2980b9;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #cfeafb;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #cfeafb;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #cfeafb;
  background-color: #2980b9;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #cfeafb;
  background-color: #2980b9;
}
.navbar-default .navbar-toggle {
  border-color: #2980b9;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2980b9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #cfeafb;
}


/* Custom */

#main{
  min-height: 70vh;
}

.main-color-bg{
  background-color: #3498db !important;
  border-color: #2980b9 !important;
  color: #FFFFFF !important;

}

.success-btn {
  background-color: #34db4a !important;
  border-color: #34db4a !important;
  color: #FFFFFF !important;
}

.size-btn{
  font-size: 12px;
}

/* Header */
#header{
  background: #333333;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .settings{
  padding-top: 25px;
}

/* Breadcrumb */
.breadcrumb{
  background: #cccccc;
  color: #333333;
}

.breadcrumb a{
  color:#333333;
}

/* Progrss Bar */
.progress-bar{
  background: #333333;
  color: #ffffff;
}

/* Panel */
.dash-box{
  text-align: center;
}

/* Footer */
#footer{
  background: #333333;
  color: #FFFFFF;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}

/* Media Query*/

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #cfeafb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #cfeafb;
    background-color: #2980b9;
  }
}